@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "poppins", sans-serif;
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}
.container {
  width: 640px;
  background-color: #17202a;
  border-radius: 10px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.card-header {
  background-color: #212f3d;
  border-radius: 10px 10px 0 0;
  padding: 1rem;
  color: #fff;
  width: 100%;
}
.card {
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 05px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #2c3e50;
  border-radius: 5px;
}
.card-body {
  padding: 0.8rem;
  font-size: 1rem;
  height: 600px;
  overflow-y: auto;
}
.card-body .user {
  display: flex;
  align-items: center;
  justify-content: end;
}
.card-body .user p {
  background-color: #28b463;
  border-radius: 10px;
  padding: 0.8rem;
  width: 50%;
  white-space: pre-wrap;
} 
.chat .user-icon {
  width: 45px;
  height: 45px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-right: 0.5rem;
  border: 2px solid #212f3d;
}
.user-icon .fa-user {
  color: #28b463;
}
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.card-footer textarea {
  resize: none;
  border: none;
  outline: none;
  font-family: inherit;
  width: 100%;
  display: flex;
  padding: 1.5rem;
  background-color: #212f3d;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
}
#submit {
  position: absolute;
  right: 30px;
  color: #000;
}
#submit .fa-paper-plane {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}